main {
	width: 100%;
	padding: 10vh 15vw;
	min-height: 120vh;

	h1 {
		font: 100 6vmax/1 'raleway';
		color: #444;
		margin-bottom: 50px;

		span {
			opacity: 0;
			transform: scale(3);
		}

		&.on {
			span {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
/*
미션
다음의 불편한 점을 개선하기 위한 props설정
-컴포넌트 호출시 마스크 모션시간 제어
-컴포넌트 호출시 마스크 모션이 시작되기까지의 지연시간 제어
-마스크 색상값도 지정 가능
-마스크색상값 텍스트 색상값 연동
-글자크기, 글꼴, 마진 값등 자잘한 스타일을 호출시에 적용가능
*/
