.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 9;
	backdrop-filter: blur(10px);
	padding: 10vh 10vw;

	.con {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.btnClose {
		border: none;
		background: transparent;
		font: 600 0.8rem/1 'orbitron';
		letter-spacing: 1px;
		color: #333;
		position: absolute;
		top: 4vh;
		right: 3vw;
		cursor: pointer;
	}
}

//미션
//1. Modal의 생성 유무를 Gallery안쪽의 특정state에 연동되도록 처리
//2. 기본적으로 Modal이 안보이도록 초기설정.
//3. 아티클요소 자체를 클릭하면 Modal이 보이도록 설정
